<div class='wrapper'>
	<div class='conferencepage'>
		<div class='top'>
			<label class='title'><%= conference.Title %></label>
			<% if (isOwner) { %>
				<a href='/conferences/<%= conference.id %>/edit' class='edit button'>Edit</a>
			<% } %>
		</div>
		<div class='center'>
			<p><%= conference.Description %></p>
			<div class='dates'>
				<label>Dates:</label>
				<div class='group'>
					<label>From: <%= moment(JSON.parse(conference.Dates)[0]).format('dddd MMMM DD') %></label>
					<label>To: <%= moment(JSON.parse(conference.Dates)[1]).format('dddd MMMM DD') %></label>
				</div>
			</div>
		</div>
		<div class='bottom'>
			<div class='group'>
				<label class='title'>Committees</label>
				<% if (isOwner) { %>
					<a href='/conferences/<%= conference.id %>/addcommittee' class='add button'>Add a Committee</a>
				<% } %>
			</div>
			<div class='group'>
				<label class='title'>Delegations</label>
				<% if (isOwner) { %>
					<a href='/conferences/<%= conference.id %>/adddelegation' class='add button'>Add a Delegation</a>
				<% } %>
			</div>
			<div class='group'>
				<% if (delegations.length > 0) { %>
					<% for (var i = 0; delegations[i]; i++) { %>
						<div class='delegation'>
							<div class='section'>
								<label class='name'><%= delegations[i].Name %></label>
								<span class='numdelegates'><%= delegations[i].NumDelegate %></span>
							</div>
							<div class='section'>
								<label class='title'>Teachers</label>
								<% if (teachers.length > 0) { %>
									<% for (var i = 0; teachers[i]; i++ ) { %>
										<div class='teacher'>
											<div class='group'>
												<span class='name'><%= teachers[i].teachername %></span>
												<span class='email'><%= teachers[i].teacheremail %></span>
											</div>
										</div>
									<% } %>
								<% } %>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
</div>