<div class='wrapper' style='margin-bottom: 20px;'>
	<div class='conferencepage'>
		<div class='top'>
			<label class='title'><%= conference.Title %></label>
			<% if (isOwner) { %>
				<a href='/conferences/<%= conference.id %>/edit' class='edit button'>Edit</a>
			<% } %>
		</div>
		<div class='center'>
			<p><%= conference.Description %></p>
			<div class='dates'>
				<label>Dates:</label>
				<div class='group'>
					<label>From: <%= moment(JSON.parse(conference.Dates)[0]).format('dddd MMMM DD') %></label><br>
					<label>To: <%= moment(JSON.parse(conference.Dates)[1]).format('dddd MMMM DD') %></label>
				</div>
			</div>
		</div>
		<div class='bottom'>
			<div class='group' style='box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);margin-bottom:10px;'>
				<label class='title'>Committees</label>
				<% if (isOwner) { %>
					<a href='/conferences/<%= conference.id %>/addcommittee' class='add button'>Add a Committee</a>
				<% } %>
			</div>
			<div class='group'>
				<% if (committees.length > 0) { %>
					<% for (var i = 0; i < committees.length; i++) { %>
						<div class='committee'>
							<div>
								<label class='name'><%= committees[i].name %></label>
								<!--<% if (isOwner) { %>
									<a class='add button' href='/committees/<%= committees[i].id %> /edit'>Edit</a>
								<% } %>-->
							</div>
							<div class='section dropdown'>
								<label class='title'>Countries</label>
								<span class='toggle-countries toggle'></span>
								<div class='content countries'>
									<% if (committees[i].countries.length > 0) { %>
										<% for (var x = 0; x < committees[i].countries.length; x++) { %>
											<div class='country'>
												<div class='group'>
													<span class='name'><%= committees[i].countries[x] %></span>
												</div>
											</div>
										<% } %>
									<% } %>
								</div>
							</div>
							<div class='section dropdown'>
								<label class='title'>Chair Info</label>
								<span class='toggle-chair toggle'></span>
								<div class='content chair'>
									<label class='name'>Name: <%= committees[i].chair[0] %></label>
									<label class='email'>Email: <%= committees[i].chair[1] %></label>
								</div>
							</div>
							<div class='section dropdown'>
								<label class='title'>Dais Info</label>
								<span class='toggle-dais toggle'></span>
								<div class='content dais'>
									<% for (var x = 0; x < committees[i].dais.length; x++) { %>
										<div class='d'>
											<label class='name'>Name: <%= committees[i].dais[x].name %></label>
											<label class='email'>Email: <%= committees[i].dais[x].email %></label>
										</div>
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
			<div class='group' style='box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);margin-bottom:10px;'>
				<label class='title'>Delegations</label>
				<% if (isOwner) { %>
					<a href='/conferences/<%= conference.id %>/adddelegation' class='add button'>Add a Delegation</a>
				<% } %>
			</div>
			<div class='group'>
				<% if (delegations.length > 0) { %>
					<% for (var i = 0; i < delegations.length; i++) { %>
						<div class='delegation'>
							<div>
								<label class='name'><%= delegations[i].name %></label>
								<!--<% if (isOwner) { %>
									<a class='add button' href='/delegations/<%= delegations[i].id %>'>Edit</a>
								<% } %>-->
							</div>
							<div class='section dropdown'>
								<div>
									<label class='title'>Students</label>
									<span class='toggle-students toggle'></span>
								</div>
								<div class='content students'>
									<% if (delegations[i].students.length > 0) { %>
										<% for (var x = 0; x < delegations[i].students.length; x++) { %>
											<div class='student'>
												<div class='group'>
													<span class='name'>Name: <%= delegations[i].students[x].name %></span>
													<span class='email'>Email: <%= delegations[i].students[x].email %></span>
												</div>
											</div>
										<% } %>
									<% } %>
								</div>
							</div>
							<div class='section dropdown'>
								<div>
									<label class='title'>Teachers</label>
									<span class='toggle-teachers toggle <%= i %>'></span>
								</div>
								<div class='content teachers <%= i %>'>
									<% if (delegations[i].teachers.length > 0) { %>
										<% for (var x = 0; x < delegations[i].teachers.length; x++ ) { %>
											<div class='teacher'>
												<div class='group'>
													<span class='name'>Name: <%= delegations[i].teachers[x].teachername %></span>
													<span class='email'>Email: <%= delegations[i].teachers[x].teacheremail %></span>
												</div>
											</div>
										<% } %>
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
			<div class='group' style='box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);margin-bottom:10px;'>
				<label class='title'>Your Debates</label>
				<% if (isOwner) { %>
					<a href='/conferences/<%= conference.id %>/adddebate' class='add button'>Add a Debate</a>
				<% } %>
			</div>
			<div class='group' style='padding-bottom: 20px;'>
				<% if (debates.length > 0) { %>
					<% for (var i = 0; i < debates.length; i++ ) { %>
						<div class='debate'>
							<div>
								<label class='name'><%= debates[i].name %></label>
							</div>
							<div class='section dropdown'>
								<div>
									<label class='title'>Speaches</label>
									<span class='toggle-debate toggle <%= i %>'></span>
								</div>
								<div class='content speeches'>
									<% for (var x = 0; x < debates[i].speaches.length; x++ ) { %>
										<div class='speech'>
											<label class='student'>Name: <%= debates[i].speaches[x].name %></label>
											<label class='time'>Their speech is <%= debates[i].speaches[x].speechTiming %> minutes long</label>
										</div>
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
</div>