<link href="/css/pikaday.css" rel="stylesheet">

<div class='wrapper'>
	<form class='form' action='/conference/update' method='POST'>
		<input hidden value="<%= data.id %>" name='id'/>
		<div class='form-group'>
			<label for="name" class="control-label">Conference Name</label>

            <div>
                <input id="name" type="text" class="form-control" name="name" value="<%= data.Title %>" required autofocus>
            </div>
		</div>

		<div class="form-group">
            <label for="name" class="control-label">Contact Email</label>

            <div>
                <input id="name" type="text" class="form-control" name="email" value="<%= data.Email %>" required>
            </div>
    	</div>

    	<div class="form-group">
            <label for="name" class="control-label">Dates</label>

            <div class='group'>
                <input id="name" type="text" class="form-control from" name="from" value="<%= JSON.parse(data.Dates)[0] %>" required>
                <input id="name" type="text" class="form-control to" name="to" value="<%= JSON.parse(data.Dates)[1] %>" required>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
              	Update Info
            </button>
        </div>
	</form>
</div>